In [1]:
x <- 11
print(x)

[1] 11

In [2]:
ages <- c(12, 19, 42, 27, 32)
print(ages)

[1] 12 19 42 27 32

In [3]:
mean(ages)

[1] 26.4

In [4]:
min(ages)

[1] 12

In [5]:
happiness <- read.csv("/Users/amanda/Documents/PythonProjects/Week9-ResearchProjects/happiness_report_2019.csv")

In [6]:
dim(happiness)

[1] 156   9

In [7]:
nrow(happiness)

[1] 156

In [8]:
colnames(happiness)

[1] "Overall.rank"                 "Country.or.region"
[3] "Score"                        "GDP.per.capita"
[5] "Social.support"               "Healthy.life.expectancy"
[7] "Freedom.to.make.life.choices" "Generosity"
[9] "Perceptions.of.corruption"

In [9]:
rownames(happiness)

  [1] "1"   "2"   "3"   "4"   "5"   "6"   "7"   "8"   "9"   "10"  "11"  "12"
 [13] "13"  "14"  "15"  "16"  "17"  "18"  "19"  "20"  "21"  "22"  "23"  "24"
 [25] "25"  "26"  "27"  "28"  "29"  "30"  "31"  "32"  "33"  "34"  "35"  "36"
 [37] "37"  "38"  "39"  "40"  "41"  "42"  "43"  "44"  "45"  "46"  "47"  "48"
 [49] "49"  "50"  "51"  "52"  "53"  "54"  "55"  "56"  "57"  "58"  "59"  "60"
 [61] "61"  "62"  "63"  "64"  "65"  "66"  "67"  "68"  "69"  "70"  "71"  "72"
 [73] "73"  "74"  "75"  "76"  "77"  "78"  "79"  "80"  "81"  "82"  "83"  "84"
 [85] "85"  "86"  "87"  "88"  "89"  "90"  "91"  "92"  "93"  "94"  "95"  "96"
 [97] "97"  "98"  "99"  "100" "101" "102" "103" "104" "105" "106" "107" "108"
[109] "109" "110" "111" "112" "113" "114" "115" "116" "117" "118" "119" "120"
[121] "121" "122" "123" "124" "125" "126" "127" "128" "129" "130" "131" "132"
[133] "133" "134" "135" "136" "137" "138" "139" "140" "141" "142" "143" "144"
[145] "145" "146" "147" "148" "149" "150" "151" "152" "153" "154" "155" "156"

In [10]:
happiness[1:5, ]

  Overall.rank Country.or.region Score GDP.per.capita Social.support
1 1            Finland           7.769 1.340          1.587
2 2            Denmark           7.600 1.383          1.573
3 3            Norway            7.554 1.488          1.582
4 4            Iceland           7.494 1.380          1.624
5 5            Netherlands       7.488 1.396          1.522
  Healthy.life.expectancy Freedom.to.make.life.choices Generosity
1 0.986                   0.596                        0.153
2 0.996                   0.592                        0.252
3 1.028                   0.603                        0.271
4 1.026                   0.591                        0.354
5 0.999                   0.557                        0.322
  Perceptions.of.corruption
1 0.393
2 0.410
3 0.341
4 0.118
5 0.298

In [11]:
mini_df <- happiness[c("Overall.rank", "Country.or.region")]
mini_df[1:5,]

  Overall.rank Country.or.region
1 1            Finland
2 2            Denmark
3 3            Norway
4 4            Iceland
5 5            Netherlands

In [12]:
mini_df2 <- happiness[c(1,2)]
mini_df2[1:5, ]

  Overall.rank Country.or.region
1 1            Finland
2 2            Denmark
3 3            Norway
4 4            Iceland
5 5            Netherlands

In [13]:
not_rows <- names(happiness) %in% c("Freedom.to.make.life.choices", "Generosity", "Perceptions.of.corruption")
mini_df3 <- happiness[!not_rows]
mini_df3[1:5,]

  Overall.rank Country.or.region Score GDP.per.capita Social.support
1 1            Finland           7.769 1.340          1.587
2 2            Denmark           7.600 1.383          1.573
3 3            Norway            7.554 1.488          1.582
4 4            Iceland           7.494 1.380          1.624
5 5            Netherlands       7.488 1.396          1.522
  Healthy.life.expectancy
1 0.986
2 0.996
3 1.028
4 1.026
5 0.999

In [14]:
happiness$Perceptions.of.corruption <- NULL
happiness[1:5,]

  Overall.rank Country.or.region Score GDP.per.capita Social.support
1 1            Finland           7.769 1.340          1.587
2 2            Denmark           7.600 1.383          1.573
3 3            Norway            7.554 1.488          1.582
4 4            Iceland           7.494 1.380          1.624
5 5            Netherlands       7.488 1.396          1.522
  Healthy.life.expectancy Freedom.to.make.life.choices Generosity
1 0.986                   0.596                        0.153
2 0.996                   0.592                        0.252
3 1.028                   0.603                        0.271
4 1.026                   0.591                        0.354
5 0.999                   0.557                        0.322

In [16]:
colnames(happiness)

[1] "Overall.rank"                 "Country.or.region"
[3] "Score"                        "GDP.per.capita"
[5] "Social.support"               "Healthy.life.expectancy"
[7] "Freedom.to.make.life.choices" "Generosity"

In [15]:
for (val in 1:5)
    {
    print(val)
    }

[1] 1
[1] 2
[1] 3
[1] 4
[1] 5